# secrets for Packer
variables.json
key.json

# some Terraform stuff
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
reqprovider.tf

# some Ansible staff
*.retry
yc_compute.yml
__pycache__/
*.pyc
jdauphant.nginx
vault.key
