nano variables.json.example
{
  "platform_type": "DONT MAKE HERE PLATFORM TYPE. WILL NOT WORK",
  "service_account_key_file": "./key.json",
  "image_labels": "image:label",
  "zone": "ru-central1-a",
  "folder_id": "examples",
  "image_name": "reddit-base-{{timestamp}}",
  "source_image_family": "ubuntu-1804-lts",
  "image_family": "reddit-base",
  "ssh_username": "ubuntu",
  "platform_id": "standard-v1",
  "use_ipv4_nat": "true",
  "ruby": "./scripts/install_ruby.sh",
  "mongo": "./scripts/install_mongodb.sh"
}
