{
  "service_account_key_file": "packer/key.json.example",
  "image_labels": "image:label",
  "zone": "ru-central1-a",
  "folder_id": "examples",
  "image_name": "reddit-base-{{timestamp}}",
  "source_image_family": "ubuntu-1604-lts",
  "image_family": "reddit-base",
  "ssh_username": "ubuntu",
  "platform_id": "standard-v1",
  "use_ipv4_nat": "true",
  "ruby": "./scripts/install_ruby.sh",
  "mongo": "./scripts/install_mongodb.sh",
  "instance_cores": "2",
  "instance_mem_gb": "2",
  "subnet_id": "your_subnet_id"
}
